.outerDiv {
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: center;
    min-height: 100vh;
    padding: 20px;
    box-sizing: border-box;
}

.ownerFunctions {
    border: 2px solid #000;
    border-radius: 10px;
    padding: 20px;
    box-sizing: border-box;
    width: 100%;
    margin-bottom: 10px;
}
.ownerFunctions button {
    margin: 10px;
}
.groupinfo {
    height: 300px;
    width: 100%;
    background: gray;
    color: white;
    font-size: 20px;
    padding: 10px;
    margin-bottom: 10px;   
}

/* Updated style for the buttons section */
.buttonContainer {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
    gap: 10px;
    margin-top: 20px;
}

.buttonContainer button {
    margin: 10px;
}

